
<h1>Housingdetails</h1>

<table>
  <thead>
    <tr>
      <th>Versionid</th>
      <th>Category</th>
      <th>Size</th>
      <th>Rent</th>
      <th>Details</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @housingdetails.each do |housingdetail| %>
      <tr>
        <td><%= housingdetail.versionid %></td>
        <td><%= housingdetail.category %></td>
        <td><%= housingdetail.size %></td>
        <td><%= housingdetail.rent %></td>
        <td><%= housingdetail.details %></td>
        <td><%= housingdetail.status %></td>
        <td><%= link_to 'Show', housingdetail %></td>
        <td><%= link_to 'Edit', edit_housingdetail_path(housingdetail) %></td>
        <td><%= link_to 'Destroy', housingdetail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Housingdetail', new_housingdetail_path %>
