<h1>Accommodation office for staffs</h1>
<ul>
	<li><%= link_to "List of users", administration_userlist_path %></li>
	<li><%= link_to "Statistics", administration_statistics_path %></li>
	<li><%= link_to "Public Page", home_public_path , :target => "_blank"%></li>
	<br>
	<br>
	<% if (current_user.status == 'active') %>
	<% if (current_user.officer_role_id == 1) || (current_user.officer_role_id == 2 ) || (current_user.officer_role_id == 5 ) %>
			<li><%= link_to "Supervisor Page", home_supervisor_path %></li>
			<li><%= link_to "Staff Page", home_staff_path %></li>
	  	<% end %>
	  	<% if (current_user.officer_role_id == 3 ) %>
			<li><%= link_to "Staff Page", home_staff_path %></li>
	  	<% end %>
	<% end %>
</ul>