<h2>Sign up</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.label :email %><br/>
      <%= f.email_field :email, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br/>
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br/>
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label 'Staff ID' %><br/>
      <%= f.text_field :staff_id %>
    </div>
    <div class="field">
      <%= f.label :name %><br/>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :surname %><br/>
      <%= f.text_field :surname %>
    </div>
    <div class="field">
      <%= f.label "Phone Number" %><br/>
      <%= f.text_field :tel %>
    </div>
    <!--<div class="field">-->
      <!--<%= f.label :officer_role_id %>-->
      <!--<%= f.collection_select(:officer_role_id, OfficerRole.all.to_a.uniq(&:id)+[OfficerRole.new(id:-1, role: "New Role")], :id, :role) %>-->
      <!--<%= text_field_tag :new_role %>-->
    <!--</div>
    <!--<div class="field">
      <%= f.label :status %><br/>
      <!--<%= f.select(:status, ['active', 'non-active']) %>-->
    <!--</div>-->

    <div class="actions">
      <%= f.submit "Sign up" %>
    </div>
  <% end %>
<%= link_to "Back", :back %>
<!--<%= render "devise/shared/links" %>-->
