<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1>Welcome <%= current_user.email %></h1>
    <p>This is the Portal page. All accessible links are displayed below.</p>
    <!--<p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>-->
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">


    <% r1 = Role.find(current_user.role_id).name %>
    <% if (r1 != 'NoRole') && (current_user.banstatus != 'Banned') then %>

        <% if (r1 == 'Admin') then %>
            <div class="col-md-4">
              <h2><%= link_to 'Administrator', adminuser_index_path %></h2>
              <p>Admin work page Functions that can be performed :
              <ol>
                <li>See number of users in Role</li>
                <li>Manage users of system</li>
              </ol>
              </p>
            </div>
            <% r1 = 'Manager' %>
        <% end %>

        <% if (r1 == 'Manager') then %>
            <div class="col-md-4">
              <h2><%= link_to 'Manager', adminuser_listroom_path %></h2>
              <p>Manager work page Functions enabled here are :
              <ol>
                <li>Accept / Reject room allocations</li>
                <li>Accept / Reject dorm room details page [for student information]</li>
              </ol>
              </p>
            </div>
            <% r1 = 'Staff' %>
        <% end %>

        <% if (r1 == 'Staff') then %>
            <div class="col-md-4">
              <h2><%= link_to 'Staff', roomlists_path %></h2>
              <p>Staff work page Funcstions enabled are :
              <ol>
                <li>Allocate / De-Allocate rooms</li>
                <li>Maintain dorm and room detais [the dorm and room details page is accessible by all AIT]</li>
              </ol>
              </p>
            </div>
        <% end %>

        </div>

        <div class="row">
          <div class="col-md-4">
            <h2><%= link_to 'Ait Dorm Room', ait_dormroom_path, :target => "_blank" %></h2>
            <p>This is a page accessible to all AIT students to view the dorm and room details </p>
          </div>
        </div>
    <% else %>
        <% if current_user.banstatus == 'Banned' then %>
            Log out immediately

        <% end %>

        <% if r1.eql?('NoRole') then %> Please talk to your Manager after account creation
        <% end %>

    <% end %>

    <hr>
    </div> <!-- /container -->