<h1>Manager's Room Approval</h1>

<p>Main page <%= link_to 'here' , adminuser_port_path %><br>
  Staff's Room List <%= link_to 'here', roomlists_path %></p>
<% serial = 0 %>

<table>
  <thead>
    <tr>
      <th>Serial</th>
      <th>Category</th>
      <th>Dorm</th>
      <th>Room No</th>
      <th>Room Segment</th>
      <th>Room Allocation</th>
      <th>Action</th>
      <th>Status</th>
    </tr>
  </thead>

  <tbody>
    <% @rooms.each do |room| %>
    <tr>
      <td><%=serial = serial + 1 %></td>
      <td><%=room.cat%></td>
      <td><%=room.dorm%></td>
      <td><%=room.room%></td>
      <td><%=room.abc%></td>
      <td><%=room.studentid%></td>
      <td>Double click to change status =></td>
      <td><%= best_in_place room, :status %></td>
    </tr>
    <% end %>
  </tbody>
</table>