<!DOCTYPE html>
<html lang="th" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Accommodation Office for Staffs</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!--<p class="notice"><%= notice %></p>-->
    <!--<p class="alert"><%= alert %></p>-->

    <div id="container">
      <div id="user_status">
        <% if user_signed_in? %>
            Welcome
            <%= current_user.email %> with <%= OfficerRole.find_by_id(current_user.officer_role_id).role %>
            <%= link_to "Change Password", edit_user_registration_path %>
            <br>! Not you?
            <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
        <% else %>
            <%= link_to "Sign up", new_user_registration_path %>
            or
            <%= link_to "Sign in", new_user_session_path %>.
        <% end %>
        <% if flash[:error] %>
            <div id="error">
              <br><%= flash[:error] %>
            </div>
        <% end %>
      </div>
      <br/>
      <%= yield %>
    </div>
    <p style="position: absolute; right: 0;">
      <a href="http://validator.w3.org/check?uri=referer"><img width="88" height="31" alt="Valid XHTML 1.0!" src="http://www.w3.org/Icons/valid-xhtml10"/></a>
      <br>Benya and Parth.
    </p>
  </body>
</html>
